<div id="browse">
    <div class="container">
        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-10">
            <div class="form-group col-sm-6"><br>
                <form name="loginform">
                    <input placeholder="username" required type="text" ng-model="username" class="form-control"><br>
                    <input placeholder="password" required type="password" name="password" ng-model="password" class="form-control"><br>
                    <input type="button" class="btn btn-add col-xs-12 col-md-12 col-lg-12" ng-click="login()" name="name" value="login">
                </form>
            </div>
        </div>
    </div>
</div>
